
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--Linqqqq-->
@*<p>TODAY  DATE AND TIME IS :> @DateTime.Now</p>*@

@*{

  String name="Gaurav Kawde";
 var TodayTime=DateTime.Now.ToLongTimeString();
}
<h2>Name is :@name</h2>
<h2> Time : @TodayTime</h2>
    *@
@{ 

    int num = 2;
    for(int i=1;i<10;i++)
    {


         <h2>@i</h2>


    }

}